@tailwind base;
@tailwind components;
@tailwind utilities;

// $color-main: #0288d1;
$color-main: #d1efff;
$color-accent: #aee68b;
$color-bg: #213547;
$color-overlay: #9185687b;
$color-shadow: #334b6177;
$color-box-shadow: #2e2f3030;
$color-letter: #faf9f5;
$color-letter-border: #d9d3c1;
$date-stamp-border-size: 2px;
$zindex-overlay: 100;
$zindex-dialog: $zindex-overlay + 1;

$letter-note-width: 325px;

:root {
  font-family: "EB Garamond", "Garamond", serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;

  color: $color-bg;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $color-bg;
  transition: color 0.3s ease;
  &:hover {
    color: #467aab;
  }
  &:visited {
    color: #684ea3;
  }
}

body {
  background: $color-main;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;

  font-family: inherit;
  background-color: $color-bg;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover:not(:disabled) {
  border-color: #646cff;
}
button:focus:not(:disabled),
button:focus-visible:not(:disabled) {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: not-allowed;
}

.App {
  margin-top: 10vh;
  max-width: 600px;
  padding: 0 2em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#root {
  overflow: hidden;
}

h1,
h2,
h3 {
  text-shadow: 0 0 5px $color-shadow;
  background: linear-gradient(
    172deg,
    rgba(103, 107, 111, 1) 0%,
    rgba(33, 53, 71, 1) 35%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letter-container {
  @for $i from 1 through 10 {
    @for $j from 1 through 3 {
      &:nth-of-type(#{$i}) .stamp:nth-of-type(#{$j}) {
        transform: rotate((random() * 20 - 10) + deg)
          translateX(random() * 10 - 5 + px)
          translateY(random() * 10 - 5 + px);
      }
      &:nth-of-type(#{$i}) .dateStamp:nth-of-type(#{$j}) {
        // rotation is in the range [-40,40]deg
        $rot: ((random()) * 50) - 25;
        transform: rotate(($rot) + deg);
        &:before {
          // translate is [-75, -45]px
          // rotate is [-15,15]px (offset from parent rotation)
          transform: translateX((-(random() * 15) - 50) + px)
            rotate((((random()) * 15) - 15 - $rot) + deg);
        }
      }
    }
  }

  &.disabled {
    .letter.letter {
      cursor: initial;
    }
  }
}

.stamps {
  flex: 0 0 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  z-index: 5;
}

.dateStamp {
  position: absolute;
  padding: 0.5em;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  opacity: 0.6;
  margin-left: 10px;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Special Elite";
  font-size: 0.8em;
  line-height: normal;
  text-align: center;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    overflow: visible;
    left: -calc($date-stamp-border-size + 10px);
    top: -$date-stamp-border-size;
    width: 150px;
    height: 70px;
    opacity: 0.4;
    background-image: url("date-stamp.png");
    background-size: cover;
  }
}

.stamp {
  display: flex;
  // NOTE: make sure this changes with the height of the image below
  width: auto;

  & img,
  & svg {
    height: 30px;
    width: 30px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAJtJREFUOE9jLIiw+8/AwMAwYcUhRhgbxgfRyGIgPi45ZP0oBsE0UUozwlwDsolSw0C+ApkDdym690m1AKv3YYLkuBjmQlj4Y7iUVBcjOwZuKHKYIttIjIvR1cPDlCaGoqdTUsIWm0tBjsQZpuR6f9RQBpRsOjSTFLF5H2uOwpZOiTUQpo5g3ifVQOSCG2veJ9dAdBfTpuSnRR0FABXZWnBmPtz1AAAAAElFTkSuQmCC")
      4 / 4px / 0 round;
    border-width: 4px;
    border-style: solid;
    pointer-events: none;
  }

  & label {
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;

    &.empty {
      box-shadow: 2px 2px 15px 2px rgb(73 148 188 / 80%);
    }
  }
}

$letter-zoom-scale: 0.4;
#deskPlaceholder {
  height: 500px;
  margin: 2em 0;
}

#desk {
  padding: 40px;
  display: flex;
  grid-gap: 2em;
  justify-content: center;
  z-index: 3;
  // position: absolute;
  left: 0;
  width: calc(100vw - 80px);
  flex-wrap: wrap;

  @media (max-width: 1270px) {
    // overflow-x: scroll;
  }
}

.draggable-desk {
  position: fixed;
  text-align: center;

  & > img {
    z-index: 3;
    padding: 0 2em;
    box-sizing: border-box;
    width: 100vw;
  }
}

.type-letter {
  display: flex;
  .letterHead {
    max-width: 130px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
  }

  .stamps {
    position: absolute;
    top: 20px;
    right: -250px;
  }

  .dateStamp {
    margin-top: -80px;
  }

  .effect-layer {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .sheen {
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 10px 3px #00000055;
      background-image: url("/grain.png");
      background-size: cover;
      &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(
          320deg,
          #0000 33%,
          rgba(255, 255, 255, 0.3) 50%,
          #0000 66%
        );
        background-size: 220% 100%;
        transition: background-position 0.4s
          cubic-bezier(0.85, -0.01, 0.28, 0.99);
        background-position: 120%;
      }
    }
  }

  & .letter-content-wrapper {
    margin: 3.5em 1.5em 1.5em;
    width: 225px;
    height: 105px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    iframe {
      filter: blur(1px);
      border: none;
      width: 100% * calc(1 / $letter-zoom-scale);
      height: 100% * calc(1 / $letter-zoom-scale);
      -webkit-transform: scale($letter-zoom-scale);
      transform: scale($letter-zoom-scale);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }
}

.type-note {
  .letterHead.letterHead {
    display: flex;
    border-bottom: 1px solid #acb2b57d;
  }

  &.editable {
    .dialogInput {
      display: inline;
    }

    .stamps {
      flex-direction: column;
      margin-left: 1em;
    }
  }

  .letter-content-wrapper {
    // background: linear-gradient(180deg, $color-letter 0%, $color-main 80%);
    text-align: center;
    font-family: cursive;
    width: $letter-note-width;
    min-height: 130px;
    max-height: 340px;
    overflow-y: auto;
    // keep this padding
    padding: 0.6em 1.2em;
    box-sizing: border-box;
    user-select: text;
    line-height: 30px;
    text-align: left;

    &::after {
      content: "";
      background: linear-gradient(transparent, $color-letter);
      width: 100%;
      // Keep this aligned with the padding above
      height: 22px;
      position: fixed;
      bottom: 0px;
      left: 0;
    }
  }
}

.letter {
  overflow: hidden;
  border: 1px solid $color-letter-border;
  border-radius: 5px;
  background: $color-letter;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  &.dragging:not(.disabled) {
    cursor: grabbing;
  }

  .header {
    font-weight: bold;
  }

  &:hover .effect-layer > .sheen:after {
    background-position: -20%;
  }

  .names {
    margin-left: 0.5em;
    & > div {
      margin: 0.5em 0;
    }
  }

  .letterHead {
    text-shadow: 0 0 5px $color-shadow;
    line-height: 1.2;
    padding: 0.8em;
    user-select: none;

    .stamp {
      &:hover {
        // TODO: maybe use the same hover as fingerprint?
        // this is the same as on the label for upload
        box-shadow: 2px 2px 15px 2px rgb(73 148 188 / 80%);
        will-change: box-shadow;
        transition: box-shadow 0.3s ease-in-out;
      }
    }
  }

  .spacer {
    flex-grow: 1;
    position: relative;
  }

  .edit-letter {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

footer {
  margin-bottom: 2em;
  padding: 0 2em;
  text-align: center;
}

// cursor chat overrides
#cursor-chat-layer .cursor > p {
  padding: 0.3rem 0.6rem !important;
}

button {
  background: $color-accent;
}

.DialogOverlay {
  background-color: $color-overlay;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: $zindex-overlay;
}

.DialogContent {
  background-color: $color-main;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 40px;
  overflow-y: auto;
  line-height: 1.5;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: $zindex-dialog;

  &:focus {
    outline: none;
  }
}

.DialogTitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
}

.DialogDescription {
  margin: 10px 0 20px;
}

.mainDialogContent {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.stampInput {
  display: none;
  width: inherit;
  height: inherit;
}

.dialogInput {
  all: unset;
  width: 80px;
  z-index: 5;
  display: block;

  &:focus {
    box-shadow: 0 0 4px 2px $color-box-shadow;
  }
}

.letter input,
.letter select {
  background-color: $color-letter;
  border: 1px solid $color-letter-border;
  border-radius: 5px;
  padding: 3px 5px;
  font-family: inherit;
}

.letterIframeInput {
  margin: 1em 15px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  margin-left: 0.05em;

  position: absolute;
  left: 0;
  z-index: 10;

  button {
    padding: 0;
    width: 32px;
    height: 32px;
    box-shadow: 0 0 6px 1px $color-box-shadow;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogCloseButton {
  font-family: inherit;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.letterTextInput {
  all: unset;
  min-height: 180px;
  width: 100%;
  overflow-x: none;
  word-wrap: break-word;
}

.letterIframeInput {
  z-index: 2;
  top: 0;
  position: absolute;
  width: 80%;
}

.letterTypeSelect {
  margin-bottom: 0.5em;
  margin-left: 1em;
  display: flex;
}

.letterContent {
  position: relative;
}

.fingerprint {
  position: absolute;
  z-index: 2;

  &.active {
    z-index: 3;
  }
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
}

.pastFingerprintContainer {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 6px 1px $color-box-shadow;
  overflow: hidden;
  filter: blur(1.2px);
}
