@tailwind base;
@tailwind components;
@tailwind utilities;

// $color-main: #0288d1;
$color-main: #d1efff;
$color-accent: #aee68b;
$color-bg: #213547;
$color-overlay: #9185687b;
$color-shadow: #334b6177;
$color-box-shadow: #2e2f3030;
$color-letter: #faf9f5;
$color-letter-border: #d9d3c1;
$date-stamp-border-size: 2px;
$zindex-overlay: 100;
$zindex-dialog: $zindex-overlay + 1;

:root {
  font-family: "EB Garamond", Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;

  color: $color-bg;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $color-bg;
  transition: color 0.3s ease;
  &:hover {
    color: #467aab;
  }
  &:visited {
    color: #684ea3;
  }
}

body {
  background: $color-main;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;

  font-family: inherit;
  background-color: $color-bg;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
  margin-top: 10vh;
  max-width: 600px;
  padding: 0 2em;
  margin-left: auto;
  margin-right: auto;
}

#root {
  overflow: hidden;
}

h1,
h2,
h3 {
  text-shadow: 0 0 5px $color-shadow;
  background: linear-gradient(
    172deg,
    rgba(103, 107, 111, 1) 0%,
    rgba(33, 53, 71, 1) 35%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letter-container {
  @for $i from 1 through 10 {
    @for $j from 1 through 3 {
      &:nth-of-type(#{$i}) .stamp:nth-of-type(#{$j}) {
        transform: rotate((random() * 20 - 10) + deg)
          translateX(random() * 25 - 12.5 + px)
          translateY(random() * 25 - 12.5 + px);
      }
      &:nth-of-type(#{$i}) .dateStamp:nth-of-type(#{$j}) {
        transform: rotate((((random()) * 80) - 40) + deg);
      }
    }
  }

  &.disabled {
    .letterHead.letterHead {
      cursor: initial;
    }
  }
}

.stamps {
  flex: 0 0 2em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.dateStamp {
  position: absolute;
  padding: 0.5em;
  border-radius: 50%;
  border: $date-stamp-border-size solid rgba(33, 32, 32, 0.7);
  width: 36px;
  height: 36px;
  opacity: 0.6;
  margin-left: 10px;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Special Elite";
  font-size: 0.8em;
  background: $color-letter;
  line-height: normal;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    left: -$date-stamp-border-size;
    top: -$date-stamp-border-size;
    width: calc(100% + ($date-stamp-border-size * 2));
    height: calc(100% + ($date-stamp-border-size * 2));
    border-radius: 50%;
    background-image: url("http://i.imgur.com/5O74VI6.jpg");
    mix-blend-mode: lighten;
  }
}

.stamp {
  height: auto;
  width: auto;

  & img,
  & svg {
    height: 30px;
    width: 30px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAJtJREFUOE9jLIiw+8/AwMAwYcUhRhgbxgfRyGIgPi45ZP0oBsE0UUozwlwDsolSw0C+ApkDdym690m1AKv3YYLkuBjmQlj4Y7iUVBcjOwZuKHKYIttIjIvR1cPDlCaGoqdTUsIWm0tBjsQZpuR6f9RQBpRsOjSTFLF5H2uOwpZOiTUQpo5g3ifVQOSCG2veJ9dAdBfTpuSnRR0FABXZWnBmPtz1AAAAAElFTkSuQmCC")
      4 / 4px / 0 round;
    border-width: 4px;
    border-style: solid;
  }

  & label {
    cursor: pointer;
  }
}

$letter-zoom-scale: 0.5;
#deskPlaceholder {
  height: 500px;
  margin: 2em 0;
}

#desk {
  padding: 40px;
  display: flex;
  grid-gap: 2em;
  justify-content: center;
  z-index: 2;
  // position: absolute;
  left: 0;
  width: calc(100vw - 80px);
  flex-wrap: wrap;

  @media (max-width: 1270px) {
    // overflow-x: scroll;
  }
}

.letter {
  overflow: hidden;
  border: 1px solid $color-letter-border;
  border-radius: 5px;
  background: $color-letter;
  width: fit-content;

  .header {
    font-weight: bold;
  }

  .letterHead {
    text-shadow: 0 0 5px $color-shadow;
    line-height: 1.6;
    padding: 0.8em;
    cursor: pointer;
    display: flex;

    &.dragging:not(.disabled) {
      cursor: grabbing;
    }
  }

  .spacer {
    flex-grow: 1;
    position: relative;
  }

  .link-to-letter > a {
    padding: 0.2em 0.8em;
  }

  .letter-content-wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-top: 1px solid $color-letter-border;
    border-bottom: 1px solid $color-letter-border;
    position: relative;

    iframe {
      border: none;
      width: 100% * calc(1 / $letter-zoom-scale);
      height: 100% * calc(1 / $letter-zoom-scale);
      -webkit-transform: scale($letter-zoom-scale);
      transform: scale($letter-zoom-scale);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    &.direct {
      background: linear-gradient(180deg, $color-letter 0%, $color-main 80%);
      text-align: center;
      padding-top: 20px;
      font-family: cursive;
    }
  }
}

footer {
  margin-bottom: 2em;
  padding: 0 2em;
  text-align: center;
}

// cursor chat overrides
#cursor-chat-layer .cursor > p {
  padding: 0.3rem 0.6rem !important;
}

button {
  background: $color-accent;
}

.DialogOverlay {
  background-color: $color-overlay;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: $zindex-overlay;
}

.DialogContent {
  background-color: $color-main;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 40px;
  overflow-y: auto;
  line-height: 1.5;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: $zindex-dialog;

  &:focus {
    outline: none;
  }
}

.DialogTitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
}

.DialogDescription {
  margin: 10px 0 20px;
}

.mainDialogContent {
  display: flex;
  justify-content: center;
}

.stampInput {
  display: none;
  width: inherit;
  height: inherit;
}

.dialogInput {
  all: unset;
  width: 80px;

  &:focus {
    box-shadow: 0 0 4px 2px $color-box-shadow;
    // background: white;
  }
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  margin-left: 0.05em;

  position: absolute;
  left: 0;
  z-index: 10;

  button {
    padding: 0;
    width: 32px;
    height: 32px;
    box-shadow: 0 0 6px 1px $color-box-shadow;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogCloseButton {
  font-family: inherit;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

.iframePreview {
  &:hover {
  }
}

.letterTextInput {
  all: unset;
  height: 100%;
  width: 90%;
  overflow-x: none;
  word-wrap: break-word;
}

.letterIframeInput {
  z-index: 1;
  top: 0;
  left: 10%;
  position: absolute;
  width: 80%;
}

.letterTypeSelect {
  margin-bottom: 0.5em;
}
