$color-main: #0288d1;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $color-main;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
  margin-top: 10vh;
}

$letter-zoom-scale: 0.2;
#desk {
  background: burlywood;
  width: 80vw;
  height: 60vh;
  padding: 40px;

  display: flex;
  align-items: baseline;
  grid-gap: 48px;

  .letter {
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    width: fit-content;

    .header {
      font-weight: bold;
    }

    .letterHead {
      margin-bottom: 8px;
      font-size: 70%;
      line-height: 1.6;
      padding: 6px;
    }

    .iframe-wrapper {
      width: 200px;
      height: 300px;
      overflow: hidden;

      iframe {
        width: 100% * (1 / $letter-zoom-scale);
        height: 100% * (1 / $letter-zoom-scale);
        -webkit-transform: scale($letter-zoom-scale);
        transform: scale($letter-zoom-scale);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
    }
  }
}
