// $color-main: #0288d1;
$color-main: #d1efff;
$color-bg: #213547;
$color-shadow: #334b6177;
$color-letter: #faf9f5;
$color-letter-border: #d9d3c1;

:root {
  font-family: "EB Garamond", Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;

  color: $color-bg;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $color-main;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;

  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
  margin-top: 10vh;
  max-width: 600px;
  padding: 0 2em;
}

#root {
  @media (max-width: 600px) {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  text-shadow: 0 0 5px $color-shadow;
  background: linear-gradient(
    172deg,
    rgba(103, 107, 111, 1) 0%,
    rgba(33, 53, 71, 1) 35%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letter-container {
  @for $i from 1 through 10 {
    @for $j from 1 through 3 {
      &:nth-of-type(#{$i}) .stamp:nth-of-type(#{$j}) {
        transform: rotate((random() * 20 - 10) + deg)
          translateX(random() * 25 - 12.5 + px)
          translateY(random() * 25 - 12.5 + px);
      }
    }
  }
}

.stamps {
  flex: 0 0 2em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.stamp {
  height: auto;
  width: auto;

  & > img {
    height: 30px;
    width: 30px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAJtJREFUOE9jLIiw+8/AwMAwYcUhRhgbxgfRyGIgPi45ZP0oBsE0UUozwlwDsolSw0C+ApkDdym690m1AKv3YYLkuBjmQlj4Y7iUVBcjOwZuKHKYIttIjIvR1cPDlCaGoqdTUsIWm0tBjsQZpuR6f9RQBpRsOjSTFLF5H2uOwpZOiTUQpo5g3ifVQOSCG2veJ9dAdBfTpuSnRR0FABXZWnBmPtz1AAAAAElFTkSuQmCC")
      4 / 4px / 0 round;
    border-width: 4px;
    border-style: solid;
  }
}

$letter-zoom-scale: 0.5;
#desk {
  padding: 40px;
  margin: 2em 0;

  display: flex;
  align-items: baseline;
  grid-gap: 2em;

  // wrap for mobile
  @media (max-width: 600px) {
    overflow-x: scroll;
  }

  .letter {
    overflow: hidden;
    border: 1px solid $color-letter-border;
    border-radius: 5px;
    background: $color-letter;
    width: fit-content;
    text-shadow: 0 0 5px $color-shadow;

    .header {
      font-weight: bold;
    }

    .letterHead {
      line-height: 1.6;
      padding: 0.8em;
      cursor: pointer;
      display: flex;

      &.dragging {
        cursor: grabbing;
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .iframe-wrapper {
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: 1px solid $color-letter-border;

      iframe {
        border: none;
        width: 100% * calc(1 / $letter-zoom-scale);
        height: 100% * calc(1 / $letter-zoom-scale);
        -webkit-transform: scale($letter-zoom-scale);
        transform: scale($letter-zoom-scale);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
    }
  }
}

footer {
  margin-bottom: 2em;
  padding: 0 2em;
}

// cursor chat overrides
#cursor-chat-layer .cursor > p {
  padding: 0.3rem 0.6rem !important;
}
